@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.size {
  width: 100%;
}
header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.Logo {
  text-decoration: none;
  color: #0096FF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a{
  color: #0096FF;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 20px;
}
.navigation a:hover {
  color: #2a52be;
  font-weight: 600;
}

section {
  padding: 100px 10%;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/01.png) no-repeat;
  background-size: cover;
  background-position: center top;
}

.main h2{
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span{
  display: inline-block;
  margin-top: 10px;
  color: #47B5FF;
  font-size: 3em;
  font-weight: 700;
}
.main h3{
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color: #47B5FF;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.3s ease;
}

.main-btn:hover{
  background-color: #F94892;
  transform: scale(1.02, 1.02);
}
.social-icons a{
  color: #fff;
  font-size: 1.7em;
  padding-right: 28px;
  transition: 0.3s ease;
}
.social-icons a:hover{
  color: #06283D;
  font-size: 1.77em;
  font-weight: 800;
}

.title {
  display: flex;
  justify-content: center;
  color: #47B5FF;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  border-radius: 10px;
  padding:20px;
  margin: 25px;
  transition: 0.5s ease;
}

.card:hover{
  transform: scale(1.1);
}


.icon {
  display: flex;
  justify-content: center;
  padding: 4% 6%;
  width: 18em;
  height: 10em;
}

.info {
  text-align: center;
}

.info h3{
  color: #0096FF;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects .title {
  color: #fff;
}
.projects {
  background: rgb(24,50,180);
  background: linear-gradient(43deg, rgba(24,50,180,1) -22%, rgba(43,168,229,1) 100%);
}
.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color:   #fff;
  border: 3px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 15px;
  margin: 30px 15px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.05);
}


.project-img img{
  width: 23em;
  height: 13em;
}

.project-card:hover .project-img{
  opacity: 0.95;
}


.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: #000;
}
.project-title {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #0096FF;
}
.more-details:hover {
  color: #2a52be;
}

.icon-contact {
  color: #0096FF;
  font-size: 4.5em;
  text-align: center;
}

.contact .info h3 {
  color:#000;
}
.contact .info p {
  font-size: 1.2em;
}


.footer {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: rgb(24,50,180);
  background: linear-gradient(43deg, rgba(24,50,180,1) -22%, rgba(43,168,229,1) 100%);
}
.footer .footer-title {
  font-size: 1.3em;
  font-weight: 5  00;
}

.footer-title span {
  margin-top: 10px;
  color: #47B5FF;
}


/* ************************************* */

@media (max-width:1023px) {
  header{
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
  }
  .title{
    font-size: 1.8em;
  }

  .section {
    padding: 80px 20px;
  }

  .main-content h2{
    font-size: 1em;
  }

  .main-content h3{
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .main {
    background-attachment: fixed;
    background: url(images/02.png) no-repeat;
    background-position: center left;
  }
}

@media (max-width:641px) {
  body {
    font-size: 12px;
  }
  .main-content h2{
    font-size: 0.8em;
  }
  .main-content h3{
    font-size: 1.4em;
  }
  .section{
    margin: 10px;
  }

  .footer .social-icons {
    display: none;
  }
}

@media (max-width:300px) {
  body {
    font-size: 10px;
  }
  .section{
    margin: 2px;
  }
  .footer .social-icons {
    display: none;
  }
}
